/* Add a background color to the header element */
header {
    background-color: lightskyblue;
    color: black; 
    text-align: center; 
    font-size: 28px;
}
/* Add a fun background color to the main element */
main {
    background-color: lightskyblue;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    color: black;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}
/* Put a border around your image */
img {
    border-style: solid;
    border-width: 2px;
    border-color: goldenrod;
}
.main-image {
    width: 300px;
}
/* Change the font-family of your list */
ul {
    list-style-type: none;
}

ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Add a background color to the footer element */
footer {
    background-color: lightskyblue;
}
